WebAppDynamicShowcase.Web/App_Data/Schemas/WebContent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="WebContents">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="WebContent">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="WebContentID" type="xs:string" />
                            <xs:element name="Section" type="xs:string" />
                            <xs:element name="SectionContent" type="xs:string" />
                            <xs:element name="CreationDate" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>